@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --Soft-Blue: #5468e7;
  --Soft-Violet: #c897e4;
  --Dark-Blue: #232340;
  --Desaturated-Blue: #7676b2;
  --Off-White: #f5f5f5;
  --Light-Orangge: #ffba79;
}

*,
*::before,
*::after {
  font-family: Lexend Deca, sans-serif;
  padding: 0;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html,
body {
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
  background-color: var(--Off-White);
}

a,
button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
}

/* Hero */
.hero {
  background-image: url(../img/christina-wocintechchat-com-L85a1k-XqH8-unsplash\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Header */
nav.navbar {
  padding: 40px 165px 0px 140px;
}

.navbar {
  background-color: transparent;
  position: relative;
}

.brand-title {
  flex: 1;
}

.logo h1 {
  font-size: 50px;
  font-weight: 600;
  width: 138px;
  height: 52px;
  color: var(--Off-White);
}

.logo span {
  font-size: 50px;
  font-weight: 600;
  width: 138px;
  height: 52px;
  color: var(--Soft-Blue);
}

.navbar-links ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin-top: 10px;
}

.navbar-links li a {
  font-size: 16px;
  font-weight: 500;
  color: var(--Off-White);
  text-decoration: underline;
  margin-right: 56px;
  display: block;
  overflow: hidden;
  position: relative;
  transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
}

.btn-header {
  background-color: rgba(84, 104, 231, 0.5);
  color: var(--Off-White);
  font-size: 18px;
  font-weight: 400;
  display: inline-flex;
  line-height: 24px;
  padding: 10px 44px;
  border-radius: 4px;
  overflow: hidden;
  gap: 8px;
}

.toggle-button {
  position: absolute;
  top: 1.2rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  transition: transform 0.3s ease-in-out, content 0.3s ease-in-out,
    font-siz e 0.3s ease-in-out;
  -webkit-transition: transform 0.3s ease-in-out, content 0.3s ease-in-out,
    font-siz e 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out, content 0.3s ease-in-out,
    font-siz e 0.3s ease-in-out;
  -ms-transition: transform 0.3s ease-in-out, content 0.3s ease-in-out,
    font-siz e 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, content 0.3s ease-in-out,
    font-siz e 0.3s ease-in-out;
}

#burger-menu span,
#burger-menu span:before,
#burger-menu span:after {
  background: #ffffff;
  display: block;
  height: 4px;
  opacity: 1;
  position: absolute;
  transition: 0.3s ease-in-out;
}

#burger-menu span:before,
#burger-menu span:after {
  content: "";
}

#burger-menu span {
  right: 0px;
  top: 13px;
  width: 27px;
}

#burger-menu span:before {
  left: 0px;
  top: -10px;
  width: 16px;
}

#burger-menu span:after {
  left: 0px;
  top: 10px;
  width: 20px;
}

#burger-menu.close span {
  transform: rotate(-45deg);
  top: 13px;
  width: 27px;
}

#burger-menu.close span:before {
  top: 0px;
  transform: rotate(90deg);
  width: 27px;
}

#burger-menu.close span:after {
  top: 0px;
  left: 0;
  transform: rotate(90deg);
  opacity: 0;
  width: 0;
}
/* End Header */

/* Responsive Mobile Header */
@media (max-width: 720px) {
  nav.navbar {
    padding: 30px 30px 0px 30px;
  }

  .navbar {
    text-align: left;
    justify-content: flex-start;
  }

  .toggle-button {
    display: flex;
    margin-top: 30px;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
  }

  .navbar-links ul li {
    text-align: left;
  }

  .navbar-links ul li a {
    padding: 10px 0px 10px 0px;
  }

  .navbar-links.active {
    display: flex;
  }

  .btn-header {
    display: none;
    width: 100%;
  }

  .btn-header.active {
    display: flex;
    justify-content: flex-start;
  }

  .btn-header {
    width: auto;
    justify-content: flex-start;
  }
}
/* End Responsive Mobile Header */

/* Responsive Tablet Header */
@media (min-width: 721px) and (max-width: 1080px) {
  nav.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    padding: 40px 40px 0px 30px;
    width: 100%;
    margin: 0px;
    padding-left: 0px;
    gap: 10px;
  }

  .toggle-button {
    display: flex;
    margin-top: 40px;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 0px;
  }

  .navbar-links ul li {
    text-align: left;
  }

  .navbar-links ul li a {
    padding: 10px 0px 10px 0px;
  }

  .navbar-links.active {
    display: flex;
  }

  .btn-header {
    display: none;
    width: 100%;
  }

  .btn-header.active {
    display: flex;
    justify-content: flex-start;
  }

  .btn-header {
    width: auto;
    justify-content: flex-start;
  }
}
/* End Responsive Tablet Header */

/* Hero Offer */
.hero-offer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: var(--Off-White);
  padding: 160px 0px 0px 140px;
}

.hero-offer h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 64px;
  margin-bottom: 16px;
}

.hero-offer p {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 56px;
}

.hero-offer #email,
.btn-offer {
  width: 100%;
  padding: 10px 16px;
}

.hero-offer #email {
  background: #f5f5f5;
  border-radius: 4px;
  overflow: hidden;
  border: 2px solid #d1ecfd;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.hero-offer input[type="email"]::placeholder {
  color: var(--Desaturated-Blue);
  font-size: 14px;
  font-weight: 400px;
  line-height: 22.4px;
  letter-spacing: 0.14px;
}

.btn-offer {
  background-color: var(--Soft-Blue);
  color: var(--Off-White);
  display: inline-flex;
  border-radius: 4px;
  overflow: hidden;
  justify-content: center;
  gap: 8px;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  word-wrap: break-word;
}
/* End Hero Offer */

/* Responsive Mobile Hero */
@media (max-width: 720px) {
  .hero {
    height: 100%;
  }

  .hero-offer {
    padding: 270px 35px 0px 30px;
  }

  .hero-offer h1 {
    font-size: 34px;
    font-weight: 700;
    line-height: 42px;
    margin-bottom: 16px;
  }

  .hero-offer p {
    width: 250px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 56px;
  }

  .hero-offer #email,
  .btn-offer {
    width: 100%;
    padding: 11px 16px;
  }

  .hero-offer input[type="email"]::placeholder {
    color: var(--Desaturated-Blue);
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
    letter-spacing: 0.14px;
  }
}
/* End Responsive Mobile Hero */

/* Responsive Tablet Hero */
@media (min-width: 720px) and (max-width: 1080px) {
  .hero {
    height: 90vh;
  }
  .hero-offer {
    padding: 244px 40px 0px 0px;
  }

  .hero-offer h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 64px;
    margin-bottom: 16px;
  }

  .hero-offer p {
    width: 700px;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 56px;
  }

  .hero-offer #email,
  .btn-offer {
    width: 100%;
    padding: 11px 16px;
  }
}
/* End Responsive Tablet Hero */

/* Mockpup Section */
.mockup-section {
  padding: 80px 0px 80px 140px;
}

.offer h1 {
  color: var(--Dark-Blue, #232340);
  font-size: 50px;
  font-weight: 700;
  line-height: 64px;
  margin-bottom: 24px;
}

.offer p {
  color: rgba(35, 35, 64, 0.9);
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 52px;
}

.mockup-section .mockup {
  padding: 0px;
  margin: 0px;
}

.link-button a {
  color: var(--Soft-Blue);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: underline;
}
/* End Mockup Section */

/* Resposive Mobile Mockup Section */
@media (max-width: 720px) {
  .mockup-section {
    padding: 60px 0px 66px 30px;
    margin-right: 0;
    padding-right: 0;
  }

  .mockup-section .row {
    flex-direction: column-reverse;
  }

  .offer h1 {
    font-size: 34px;
    font-weight: 700;
    line-height: 42px;
  }

  .offer p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 48px;
  }

  .mockup-section .mockup img {
    margin-bottom: 48px;
  }
}
/* End Responsive Mobile Mockup Section */

/* Responsive Tablet Mockup Section */
@media (min-width: 721px) and (max-width: 1080px) {
  .mockup-section {
    padding: 60px 0px 76px 30px;
    margin-right: 0;
    padding-right: 0;
  }

  .mockup-section .row {
    flex-direction: column-reverse;
  }

  .mockup-section .mockup img {
    margin-bottom: 48px;
  }
}
/* End Responsive Mockup Section */

/* Info Section-1 */
.info-section-1 {
  padding: 120px 0px 120px 0px;
}

.info-section-1 .info-section-img {
  position: relative;
}

.info-section-1 .info-section-img img::first-child {
  width: 100%;
  display: block;
}

.info-section-1 .info-section-img img:last-child {
  position: absolute;
  top: 24px;
  right: 20px;
  width: 250px;
}

.info-section-offer h1 {
  color: var(--Dark-Blue, #232340);
  font-size: 50px;
  font-weight: 700;
  line-height: 64px;
  margin-bottom: 24px;
}

.info-section-offer p {
  color: rgba(35, 35, 64, 0.9);
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 48px;
}
/* End Info Section-1 */

/* Responsive Mobile Info Section 1 */
@media (max-width: 720px) {
  .info-section-1 {
    padding: 60px 0px 66px 30px;
  }

  .info-section-1 .info-section-img img {
    margin-left: -50px;
    margin-bottom: 48px;
  }

  .info-section-1 .info-section-img img:first-child {
    width: 100%;
    display: block;
    height: auto;
  }

  .info-section-1 .info-section-img img:last-child {
    position: absolute;
    top: 12px;
    right: 70px;
    width: 230px;
  }

  .info-section-offer h1 {
    font-size: 34px;
    font-weight: 700;
    line-height: 42px;
  }

  .info-section-offer p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 48px;
  }
}
/* End Responsive Mobile Info Section 1 */

/* Responsive Tablet Info Section 1 */
@media (min-width: 721px) and (max-width: 1080px) {
  .info-section-1 {
    padding: 40px 0px 0px 0px;
    margin: 60px 24px 80px 0px;
    margin-right: 0;
  }

  .info-section-1 .info-section-offer p{
    margin-bottom: 100px;
  }

  .info-section-1 .info-section-img img {
    width: 100%;
    height: auto;
    margin-left: -100px;
  }

  .info-section-1 .info-section-img img:first-child {
    width: auto;
    display: block;
    height: 420px;
  }

  .info-section-1 .info-section-img img:last-child {
    position: absolute;
    top: 18px;
    right: 20px;
    width: 230px;
    height: auto;
    max-width: 100%;
  }

  .info-section-offer h1 {
    line-height: 42px;
  }

  .info-section-offer p {
    line-height: 24px;
  }

  .col-12.col-sm-12.col-md-6.col-lg-7,
  .col-12.col-sm-12.col-md-6.col-lg-5 {
    display: flex;
    align-items: start;
    margin-right: 0;
    padding-right: 0;
  }
}
/* End Responsive Tablet Info Section 1 */

/* Info Section-2 */
.info-section-2 {
  padding: 120px 0px 120px 0px;
}

.info-section-2 .info-section-img {
  position: relative;
}

.info-section-2 .info-section-img img::first-child {
  width: 100%;
  display: block;
}

.info-section-2 .info-section-img img:nth-child(2) {
  position: absolute;
  top: 280px;
  right: 20px;
  width: 180px;
}

.info-section-2 .info-section-img img:last-child {
  position: absolute;
  top: 370px;
  right: 20px;
  width: 180px;
  height: auto;
}
/* End Info Section 2 */

/* Responsive Mobile Info Section 2 */
@media (max-width: 720px) {
  .info-section-2 {
    padding: 60px 0px 66px 30px;
  }

  .info-section-2 .row {
    flex-direction: column-reverse;
  }

  .info-section-2 .info-section-img img {
    margin-left: -50px;
    margin-bottom: 48px;
  }

  .info-section-2 .info-section-img img:first-child {
    width: 100%;
    display: block;
    height: auto;
  }

  .info-section-2 .info-section-img img:nth-child(2) {
    position: absolute;
    top: 18px;
    right: 70px;
    width: 140px;
    max-width: 100%;
    height: auto;
  }

  .info-section-2 .info-section-img img:last-child {
    position: absolute;
    top: 84px;
    right: 70px;
    width: 140px;
    max-width: 100%;
    height: auto;
  }
}
/* End Responsive Mobile Info Section 2 */

/* Responsive Tablet Info Section 2 */
@media (min-width: 721px) and (max-width: 1080px) {
  .info-section-2 {
    padding: 40px 0px 0px 0px;
    margin: 60px 24px 80px 0px;
  }

  .info-section-2 .info-section-img img {
    width: 100%;
    height: auto;
    margin-right: -100px;
  }

  .info-section-2 .info-section-img img:first-child {
    width: auto;
    display: block;
    height: 420px;
  }

  .info-section-2 .info-section-img img:nth-child(2) {
    position: absolute;
    top: 20px;
    right: 28px;
    width: 180px;
    height: auto;
    max-width: 100%;
  }

  .info-section-2 .info-section-img img:last-child {
    position: absolute;
    top: 110px;
    right: 28px;
    width: 180px;
    height: auto;
    max-width: 100%;
  }
}
/* End Responsive Tablet Info Section 2 */

/* Info Section-3 */
.info-section-1 .info-section-3-img {
  position: relative;
}

.info-section-1 .info-section-3-img img:nth-child(2) {
  position: absolute;
  top: 278px;
  right: 350px;
  width: 180px;
}

.info-section-1 .info-section-3-img img:last-child {
  position: absolute;
  top: 460px;
  right: 350px;
  width: 180px;
}
/* End Info Section 3 */

/* Responsive Mobile Info Section 3 */
@media (max-width: 720px) {
  .info-section-1 .info-section-3-img img {
    margin-left: -50px;
    margin-bottom: 48px;
  }

  .info-section-1 .info-section-3-img img:first-child {
    width: 100%;
    display: block;
    height: auto;
  }

  .info-section-1 .info-section-3-img img:nth-child(2) {
    position: absolute;
    top: 140px;
    right: 246px;
    width: 140px;
    max-width: 100%;
    height: auto;
  }

  .info-section-1 .info-section-3-img img:last-child {
    position: absolute;
    top:280px;
    right: 246px;
    width: 140px;
    max-width: 100%;
    height: auto;
  }
}
/* End Responsive Mobile Info Section 3 */

/* Responsive Tablet Info Section 3 */
@media (min-width: 721px) and (max-width: 1080px) {
  .info-section-1 .info-section-3-img img {
    width: 100%;
    height: auto;
    margin-left: -100px;
  }

  .info-section-1 .info-section-3-img img:first-child {
    width: auto;
    display: block;
    height: 420px;
  }

  .info-section-1 .info-section-3-img img:nth-child(2) {
    position: absolute;
    top: 140px;
    right: 186px;
    width: 180px;
    height: auto;
    max-width: 100%;
  }

  .info-section-1 .info-section-3-img img:last-child {
    position: absolute;
    top: 320px;
    right: 186px;
    width: 180px;
    height: auto;
    max-width: 100%;
  }
}
/* End Responsive Tablet Info Section 3 */